{% extends "base.html.twig" %}

{% block title %}EspritParcBundle:Modele:create{% endblock %}

{% block body %}
    <h1>Liste des modèle avec Query Builder</h1>

    <center>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Pays</th>
            </tr>

            {% for modele in modeles %}
                <tr>
                    <td>{{ modele.id }}</td>
                    <td>{{ modele.libelle }}</td>
                    <td>{{ modele.pays }}</td>
                </tr>
            {% endfor %}
        </table>
    </center>



{% endblock %}