{% extends "base.html.twig" %}

{% block title %}EspritParcBundle:Modele:create{% endblock %}

{% block body %}
<h1>Welcome to the Modele:create page</h1>


    <center>
        <h1>Ajouter un modele</h1>
        <fieldset style="width: 50%">
            {{ form_start(form) }}
            Libelle :* {{ form_widget(form.libelle) }}</br>
            Pays:* {{ form_widget(form.pays) }}</br>
            Save {{ form_widget(form.save) }}</br>
            {{ form_end(form) }}
        </fieldset>
    </center>

{% endblock %}
