{% extends "base.html.twig" %}

{% block title %}EspritParcBundle:Modele:read{% endblock %}

{% block body %}


<h1>Welcome to the Modele:read page</h1>


    <center>
        <h1>Liste des modeles</h1><br><br><br><br><br>

        <h2 id="affLogo">Afficher logo voiture</h2>
        <img src="{{ asset ('image/mini.jpg') }}" id="imgLogo" />

        <table border="1" id="table01">
            <tr><th>Id</th><th>Libelle</th><th>Pays</th><th>Modifier</th><th>Supprimer</th></tr>
            {% for modele in modeles %}
                <tr>
                    <td>{{ modele.id }}</td>
                    <td>{{ modele.libelle }}</td>
                    <td>{{ modele.pays }}</td>
                    <td><a href="{{ path('update',{'id':modele.id}) }}">Modifier</a></td>
                    <td><a href="{{ path('delete',{'id':modele.id}) }}">Supprimer</a></td>


                </tr>
            {% endfor %}
        </table>
        <button id="btnC">Cacher</button>
        <button id="btnA">Afficher</button>
        <button id="btnT">Toggle</button>
        <button id="btnS">Supprimer</button>
        <button id="btnV">Vider</button>

    </center>

{% endblock %}

{% block javascripts %}

    <script src ="{{ asset('js/jquery.js') }}" ></script>

    <script>
        // $(document).ready(function(){
        //     alert("Script working properly");
        // });
        $("#btnC").click(function () {
            $("#table01").hide();
        });
        $("#btnA").click(function () {
            $("#table01").show();
        });
        $("#btnT").click(function () {
            $("#table01").toggle();
        });
        $("#imgLogo").hide();
        $("#affLogo").hover(function () {
            $("#imgLogo").slideDown();
            // $("#imgLogo").show();
            $("#affLogo").html("<h2>Logo Affiché</h2>");
            $("#affLogo").css('color','red');
        });
        $("#imgLogo").click(function () {
            $("#imgLogo").slideUp();
            $("#imgLogo").width(100);
            $("#imgLogo").height(100);
        });
        $("#btnS").click(function () {
            $("#table01 td").remove();
        });
        // $("#btnS").click(function () {
        //
        // });

    </script>

{% endblock %}

