{% extends "base.html.twig" %}

{% block title %}EspritParcBundle:Modele:update{% endblock %}

{% block body %}
<h1>Welcome to the Modele:update page</h1>
    <center><h1>Welcome to the Modele:update page</h1>
        <fieldset style="width: 50%">
            <form method="POST">
                Libelle: <input type="text" name="libelle" value="{{
                modele.libelle }}">
                <br>
                Pays: <input type="text" name="pays" value="{{ modele.pays
                }}"></br>
                <input type="submit" value="Enregistrer">
            </form>
        </fieldset>
    </center>

{% endblock %}
